@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: white;
  font-size: 25px;
}

h2 {
  color: white;
  font-size: 20px;
}

p, label {
  color: #AFB6C2;
  font-size: 15px;
}

#yellowColor {
  color: #FFC632;
}